{% extends 'index.html' %}

{% block title %}
Post Detail
{% endblock %}

{% block content %}
<table align="left">
    <tr>
        <td>
            <h4 align="left">Заголовок</h4>
        </td>
        <td>
            <p align="left">
                <font size="5"> {{ post.title }} </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <h4 align="left">Автор</h4>
        </td>
        <td>
            <p align="left">
                <font size="5"> {{ post.author }} </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <h4 align="left">Категория</h4>
        </td>
        <td>
            <p align="left">
                <font size="5"> {{ post.get_category_display }} </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <h4 align="left">Содержание &nbsp</h4>
        </td>
        <td>
            <p align="left">
                <font size="5"> {{ post.content|safe }} </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="text-align: left">
                <button><a href="{% url 'post_update' post.id %}">Редактировать</a></button>
            </p>
        </td>
    </tr>
</table>

{% endblock %}
