<!-- страница получения подробной информации об объявлении -->
{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %}
Post Detail
{% endblock %}

{% block content %}
 <style>
   table {
    width: 100%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    border: 1px;
   }
   td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 1px;
   }
   a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
  </style>
<table align="left" cellpadding="20">
    <tr>
        <td>
            <h3 align="left">Title: </h3>
        </td>
        <td width="100%">
            <p align="left">
                <font size="5"> {{ post.title }} </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <h3 align="left">Author: </h3>
        </td>
        <td>
            <p align="left">
                <font size="5"> {{ post.author }} </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <h3 align="left">Category: </h3>
        </td>
        <td>
            <p align="left">
                <font size="5"> {{ post.get_category_display }} </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <h3 align="left">Content: &nbsp</h3>
        </td>
        <td align="left">
            <p align="left">
                <font size="5"> {{ post.content|safe }} </font>
            </p>
        </td>
    </tr>
</table>
{% if author_user %}
<p style="text-align: left">
    <button type="button" class="btn btn-secondary">
        <a href="{% url 'post_update' post.id %}" style="color:white">Edit</a>
    </button>
    <button type="button" class="btn btn-danger">
        <a href="{% url 'post_delete' post.id %}" style="color:white">Delete</a>
    </button>
</p>
{% elif anonymous %}
<p style="text-align: left">
    If this announcement interests you, you can send a response to it.
    Just enter a message and the advertiser will receive it.
</p>
<p style="text-align: left">
<form action="" method="post">
    {% csrf_token %}
    {{ response_form|crispy }}
    <br>
    <button type="submit" class="btn btn-success">Respond</button>
</form>
</p>
{% else %}
You will be able to respond to this and other ads after registration
<a href="/accounts/signup">SignUp</a> or signin <a href="/accounts/login/">SignIn</a>
{% endif %}

{% endblock %}
