{% extends 'index.html' %}

{% block title %}
Posts
{% endblock %}

{% block content %}

<table align="left">
    {% for post in posts %}
    <tr>
        <td>
            <h5 align="center">
                <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            {{ post.content|safe }}
        </td>
    </tr>
    <tr>
        <td>
            <h6 align="left">
                Категория - "{{ post.get_category_display }}"
            </h6>
            <hr>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}