{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %}
Responses
{% endblock title %}


{% block content %}
<h1> Responses to your ads </h1>
 <style>
   table {
    width: 100%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    border: 1px;
   }
   td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 1px;
   }
  </style>

<form method="GET">
    {% csrf_token %}
    {{ filter.form|crispy }}
    <br>
    <button type="submit" class="btn btn-success">Search</button>
</form>
<br>

{% if responses_to_current_users_posts %}
<table align="center">
    <thead>
    <th>
        <b>
            Titles of your ads
        </b>
    </th>
    <th>
        <b> Author of response </b>
    </th>
    <th>
        <b> Content of response </b>
    </th>
    <th>
        <b> Time of creation of response  </b>
    </th>
    </thead>
    {% for response in filter.qs %}
    {% if response.post.author == user %}
    <tr>
        <td>
            <a href="{% url 'post_detail' response.post.id %}">{{ response.post.title }}</a>
        </td>
        <td>
            {{ response.author }}
        </td>
        <td>
            {{ response.text }}
        </td>
        <td>
            {{ response.time_of_creation }}
        </td>
        <td>
            <p align="right">
                <button>
                    <a href="{% url 'response_delete' response.id %}" style="color:#FF0000">Delete</a>
                </button>
                <br>
            </p>
        </td>
        <td>
            <p align="right">
                <button>
                    <a href="accept_response/?pk={{ response.id }}">Accept</a>
                </button>
            </p>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% else %}
<h2>На данный момент нет откликов на ваши объявления</h2>
{% endif %}

{% endblock content %}
