{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %}
Responses
{% endblock title %}


{% block content %}

<form method="GET">
    {% csrf_token %}
    {{ filter.form|crispy }}
    <br>
    <button type="submit" class="btn btn-success">Search</button>
</form>

{% if responses %}
<table align="center">
    <thead>
    <th>
        <b> Author </b>
    </th>
    <th>
        <b> Content </b>
    </th>
    <th>
        <b> Time of creation </b>
    </th>
    </thead>
    {% for response in filter.qs %}
    <tr>
        <td>
            {{ response.author }} &nbsp
        </td>
        <td>
            &nbsp {{ response.text }} &nbsp
        </td>
        <td>
            &nbsp {{ response.time_of_creation }} &nbsp
        </td>
        <td>
            &nbsp {{ response.post.title }} &nbsp
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<!--если нет затяжек, то выводится сообщение ниже-->
{% else %}
<h2>Нет информации о затяжках</h2>
{% endif %}
{% endblock content %}
