{% extends 'index.html' %}

{% block title %}
Responses
{% endblock title %}


{% block content %}
Hello from responses!

<table align="center">
    {% for response in responses %}
    <tr>
        <td>
            <h4 align="center">
                {{ response.post.title }}
            </h4>
        </td>
    </tr>
    <tr>
        <td>
            {{ post.content|safe }}
        </td>
    </tr>
    <tr>
        <td>
            <h6 align="left">
                Категория - "{{ post.get_category_display }}"
            </h6>
        </td>
    </tr>
    <tr>
        <td>
            <h6 align="left">
                Опубликовал - {{ post.author }}
            </h6>
            <br>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
