<!--Данный файл отображает страницу удаления постов
Вся информация о посте берется из БД в файле views.py из представления для удаления-->

<!--Наследование от главного файла-->
{% extends 'index.html' %}

{% load i18n %}

<!--Написание заголовка-->
{% block title %}
Response delete
{% endblock title %}

<!--Описание содержания
в таблице выводим всю ин-ию и прописали кнопку подтверждения-->
{% block content %}
 <style>
   table {
    width: 100%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    border: 1px;
   }
   td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 1px;
   }
  </style>

<h3>Are you sure you want to delete the selected response?</h3>

<table align="center">
    <thead>
    <th>
        <b>
            Titles of your ads
        </b>
    </th>
    <th>
        <b> Author of response </b>
    </th>
    <th>
        <b> Content of response </b>
    </th>
    <th>
        <b> Time of creation of response  </b>
    </th>
    </thead>
    <tr>
        <td>
            <a href="{% url 'post_detail' response.post.id %}">{{ response.post.title }}</a>
        </td>
        <td>
            {{ response.author }}
        </td>
        <td>
            {{ response.text }}
        </td>
        <td>
            {{ response.time_of_creation }}
        </td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <br>
    <button type="submit" class="btn btn-success">Delete</button>
</form>
{% endblock content %}