{% extends "index.html" %}

{% load i18n %}

<!--Описание содержания шаблона-->
{% block content %}
<style>
   a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
</style>
<h2>Пользователь "{{request.user.username}}" - приветствую на вашей личной странице!</h2>
<div>
    <form action="/responses/">
        Чтобы посмотреть отклики на ваши объявления, нажмите на кнопку
        <button> Responses </button>
    </form>
</div>
<hr>
<form action="/accounts/logout/">
    <button class="btn btn-success"> LogOut </button>
</form>

{% endblock %}